.Mobile {
  display: none;
  align-items: center;
}

.containerb {
  max-width: 375px; /* width: 375px o'rniga */
  margin: 0 auto;
  padding: 0 20px;
}
#transition-modal-description {
  display: none;
}

#transition-modal-description a {
  text-align: center;
  color: rgb(70, 69, 69);
  margin-left: 10px;
  text-decoration: none;
  line-height: 45px;
}

#transition-modal-description ul {
  margin: 0;
  padding: 0;
}

#transition-modal-description li {
  list-style: none;
  /* padding-left: 0px; */
  text-align: center;
}
@media (max-width: 950px) {
  .Header {
    display: none;
  }
  #transition-modal-description {
    display: block;
    margin-top: 200px;
  }
  .swiper-slide {
    width: 100%;
    object-fit: cover;
    height: 250px;
  }
  .question img {
    display: none;
  }
  .Mobile {
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
  }

  .Header-all-nav {
    display: none;
  }
  .Nav .na img {
    margin-right: 10px;
  }
  .Nav {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    /* background-color: red; */
  }
  .img-mobie {
    display: flex;
    align-items: center;
  }
  .Nav .na {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
  }
  .main-choice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-head {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .main-1 {
    width: 100%;
  }

  .Nav img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
  .container {
    margin: 0 auto;
    padding: 0 20;
    width: 100%;
  }
  .btn-mobile {
    float: right;
  }
  .Nav button {
    float: right;
    font-size: 25px;
    position: relative;
  }
  .Next-Main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
  .mobile-head-img {
    display: flex;
    align-items: center;
  }
  .mobile-head-img .h1-mobile {
    width: 110px;
  }
  .h1-mobile h3 {
    font-size: 16px;
    color: #003451;
    font-weight: 700;
  }
  .header-left {
    display: flex;
  }

  .next-list-1 img {
    width: 100%;
    object-fit: cover;
    position: relative;
    right: 0;
  }
  .next-list-1 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .next-list {
    display: flex;
    columns: 2;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 20px;
    width: 100% !important;
    gap: 20px;
  }
  .next-list h3 {
    width: 100%;
  }
  .next-list p {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .Hotel-list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .Hotel-list .main-choice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .main-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-1 h5 {
    width: 100%;
  }
  .main-img-1 {
    flex-wrap: wrap;
  }
  .main-img-2 {
    flex-wrap: wrap;
  }
  .next-list {
    height: 100%;
    padding-bottom: 10px;
  }
  .main-choice h5 {
    left: 0;
  }
  .news-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .news-list img {
    width: 100%;
  }
  .news-list h3 {
    width: 100%;
  }
  .news-list p {
    width: 100%;
  }
  .Hotel-list h1 {
    width: 100%;
  }
  .question {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .Footer {
    text-align: center;
    height: 100%;
    padding-right: 30px;
  }
  .all-footer {
    display: block;
    gap: 0;
    text-align: center;
    font-size: 15px;
    flex-wrap: wrap;
  }
  .global-link {
    width: 100%;
    justify-content: center;
  }
  .company {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact h1 {
    margin-top: 15px;
  }
  .fast-links {
    margin-top: 20px;
  }
  .qws-h2 {
    text-align: center;
    position: relative;
  }
}
